<script type="text/javascript" src="https://vk.com/js/api/openapi.js?122"></script>

<div id="header">
    <div id="header-title">
         <div id="header-title-text">Выберите друзей</div>
         <div id="header-close-app">&times;</div>
    </div>

    <div id="header-search">
        <div id="search-in-all-friends">
            <div class="magnifying-glass"></div><input type="text" id="search-in-all-input" placeholder="Начните вводить имя друга">
        </div>
        <div id="search-in-list">
            <div class="magnifying-glass"></div><input type="text" id="search-in-list-input" placeholder="Начните вводить имя друга">
        </div>
    </div>
</div>

<div id="friends-box">
    <div id="friends-all-box" class="droppable">
        <div id="friends-all-box-title">Ваши друзья</div>
        <div id="friends-all-box-list"></div>
    </div>
    <div id="friends-in-list-box" class="droppable">
        <div id="friends-in-list-box-title">Друзья в списке</div>
        <div id="friends-in-list-box-list"></div>
    </div>
</div>

<div id="footer">
    <div id="save-button">Сохранить</div>
</div>